@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
  font-style: normal;
}

.logo {
  background-image: url('./images/logo.svg');
  background-repeat: no-repeat;
  font-family: 'Roboto';
}

/* ======================================== All ===================================== */
.all {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 99.99vw;
  min-height: 99.99vh;
  width: fit-content;
}

/* ======================================== Oath =================================== */
.oath-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  gap: 119px;
  background-color: #F5F6FB;
  width: 99.99vw;
  height: 95.99vh;
}

.oath-h1 {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 102px;
  color: #000000;
}

.oath-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  gap: 40px;
  width: 436px;
  height: 535px;
  background-color: #FFFFFF;
  /* box-shadow: 5px 0px #AAB2C5, 20%; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;

}

.oath-label {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 4%;
}

.oath-p {
  font-weight: 400px;
  font-size: 12px;
}

.oath-inp {
  width: 265px;
  height: 52px;
  border-radius: 30px;
  border: none;
  background-color: #F6F7FB;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.oath-inp:focus {
  outline: none;
  color: #000000;
}

.oath-btn {
  width: 125px;
  height: 44px;
  border-radius: 16px;
  border: none;
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 700;
  cursor: pointer;
  background-color: #FF751D;
}

.oath-btn-or:hover {
  background-color: #FFDAC0;
}